.footer{
    font-weight: bold;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

#linkRodape{
    text-decoration: none;
}

#linkRodape:hover{
    text-decoration: underline;
}
